# Ignore system files and folders - Ubuntu
*.*~

# Ignore Python related files
*.py[cod]
__pycache__/
.cache/

# Ignore virtualenv files and folders
pip-selfcheck.json
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64

# Ignore project related files
example_page_python_files/
example_page_python.html
mock.py
pickled_raw_data.p
pickled_jobs.p
db.sqlite
